@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #e8eaf3;
    color: #050f3c;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px #0000001a;
    position: fixed;
    top: 0;
    width: 100%;
    
}

header img {
    width: 220px;
    height: auto;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #050f3c;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    padding: 5px;
}

nav a:hover {
    color: #b61817;
    border-bottom: 3px solid #b61817;
    font-weight: 800;
    transition: color 0.3s ease, border-bottom 0.1s ease, font-weight 0.3 ease;
}

.nav-buttons{
  display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.nav-buttons ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-buttons li {
    display: inline;
    margin: 0 15px;
    font-weight: 600;
}

.nav-buttons a {
    text-decoration: none;
    color: #b61817;
    font-size: 20px;
    font-weight: 700;
    transition: color 0.3s ease;
    padding: 10px 35px;
    border: 2px solid #b61817;
    border-radius: 10px;

    
}

.nav-buttons a:hover{
    color: #ffffff;
    background-color: #b61817;
    transition: all 0.3 ease; 
}

@media (max-width: 1074px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  header img {
    margin-left: 0;
    width: 180px;
    margin-bottom: 10px;
  }

  nav {
    width: 100%;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
    text-align: left;
    padding: 0px 10px;
  }

  .nav-buttons {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .nav-buttons ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-buttons li {
    margin: 10px 0;
    padding: 0px 10px;
  }

  .nav-buttons a {
    width: fit-content;
    padding: 8px 20px;
    font-size: 18px;
  }

  nav a, .nav-buttons a {
    font-size: 18px;
  }
}
