@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color:#b61817;
    --text-color:#000413;
    --bg-color:#fff;
    --secondary-bg-color:#050f3c;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

img{
    width: 100%;
}

